<div class="enclosure py-5">
  <div class="container">
    <h1 class="text-center">Hello there! o:</h1>
    <p class="text-center">
      Bored out of your mind? Can't decide what to do? Wanna do stuff?<br>
      Give our app a try! hundreds of events located all over the US-of-A!<br>
      No need to make an account - just search from your location<br>
      <br>
      <em>Accounts do make it easy to save your personal preferences tho...</em><br>
      And we totally recommend you make one!
    </p>
    
    <button (click)="getAllUsers()">Get Users</button>
    <div *ngFor="let u of users">
      {{ u | json }}
    </div>
  </div>
</div>
