.navbar-brand img {
    width:125px; /* you can use % */
    height: auto;
}

.navbar {
    background-color: white;
}

.navbar-text {
    font-family: Lobster;
    font-size: 24px;
    color: #60B0F4;
}

.nav-item { 
    font-family: Montserrat;
    color: #EF3E36;
}

.btn-lg {
    color:#EF3E36;
    border-color: #EF3E36;
    font-weight: 400;
    border-radius:3px;
}

.btn-lg:hover {
    background-color: #EF3E36;
    border-color: #EF3E36;
}