<p>
  <!-- <h1> Google Maps Dispay</h1> -->
</p>
<h1>Google Maps ! </h1>
<!-- <div #gmap style="width:100%;height:400px"></div> -->
<!-- <agm-map [latitude] = 'lat' [longitude] = 'lng' >
  <agm-marker [latitude] = 'latitude' [longitude] = 'longitude' > </agm-marker> 
  <agm-marker  [latitude]="lat" [longitude]="lng" [label]="labelOptions">
    </agm-marker> </agm-map>  -->

    
 
    <agm-map #AgmMap [latitude] = 'lat' [longitude] = 'lng' (idle) = "mapIdle()" [fitBounds]="true">
 
        <agm-marker (mouseOver)="window.open()" (mouseOut)="window.close()" *ngFor = "let coords of myCoords; let i = index" [latitude] = "coords.latitude" [longitude] = "coords.longitude" [agmFitBounds]="true">
         
        <agm-info-window #window>
         
        <h6>{{ myCoords[i].EventName }}</h6>
         
        </agm-info-window>
         
        </agm-marker> 
         
        <agm-marker  [latitude] = 'lat' [longitude] = 'lng' [label] = 'labelOptions'>
            <!-- (mouseOver)="window.open()" (mouseOut)="window.close()" -->
        <agm-info-window #window>
         
        <!-- <h6>Longitude: {{ lng }}</h6>
         
        <h6>Latitude: {{ lat }}</h6> -->
         
        </agm-info-window>
         
        </agm-marker>
         
        </agm-map>
         

  <!-- <agm-map [latitude]="lat" [longitude]="lng"> 
      <agm-marker [latitude]="lat" [longitude]="lng">
       </agm-marker>  -->

  <!-- (mapClick)="OnL($event)" -->
