#flavor_text {
    font-family: lato;
    font-size: 18px;
    color: #60B0F4;
}

#social_media {
    font-family: montserrat;
    font-size: 36px;
    color: #EF3E36;
}

#copyright {
    font-family: lato;
    font-size: 12px;
    color: #707070;
}