<footer class="footer mt-3">
  <div class="container">

    <div class="row">
      <div id="flavor_text" class="col-md-6">
        <p>
          Hotspot is an event finding website, recommending fun venues for you and your friends.
          Admittedly, this is a project for our full-stack training, but don't let that fool you!
          This app is put together as badly as you think it is. :D
        </p>
      </div>
      <div id="social_media" class="col-md-6">
        <p>Connect with us on: <br>
          <i class="fab fa-facebook-square mx-3"></i>
          <i class="fab fa-twitter-square"></i>
        </p>
      </div>
    </div>
    <p id="copyright" class="text-center">
      <i class="far fa-copyright"></i> Hotspot LLC. 2019 - Subsidiary of H&H Conglomerate (totally not a fictional evil corporation)
    </p>
  </div>
</footer>