<div class="enclosure py-5">
  <h1 class="text-center pb-4">Welcome back! :D</h1>
  <div class="container">
    <div class="row">
      <label class="col-2 pb-1">Username</label>
      <input class="col-10 form-control" name="username" placeholder="My username">
    </div>
    <div class="row my-3">
      <label class="col-2 pb-1">Password</label>
      <input type="password" class="col-10 form-control" name="password" placeholder="My supersecure password is...password. Ooooh. Ahhh.">
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-danger btn-lg">Primary</button>
    </div>
  </div>
</div>