<div class="enclosure py-5">
  <h1 class="text-center pb-4">Welcome back! :D</h1>
  <div class="container">
    <div class="row">
      <label class="col-2 pb-1">Email</label>
      <input [(ngModel)]=email class="col-10 form-control" name="email" placeholder="">
    </div>
    <div class="row my-3">
      <label class="col-2 pb-1">Password</label>
      <input [(ngModel)]=pw type="password" class="col-10 form-control" name="password" placeholder="">
    </div>
    <div class="text-center">
        <button (click)="checkCredentials()" type="button" class="btn btn-danger btn-lg">Primary</button>
    </div>
  </div>
</div>