.enclosure {
    background-color: #3E78B2;
}

h1 {
    font-family: montserrat;
    font-size: 64px;
    color: white;
}

p {
    font-family: lato;
    font-size: 16px;
    color: white;
}

.form-check-input {
    visibility: hidden;
}

.img-label {
    font-family: lobster;
    font-size: 24px;
    color: white;
    position: absolute;
    bottom: -20px;
}

h3 {
    font-family: Montserrat;
    font-size: 32px;
    color: white;
}

.pref-img {
    height: 150px;
    width: 150px;
    opacity: 0.8;
}

.pref-img:hover {
    opacity: 1;
}

.selected {
    opacity: 1;
}

.container {
    font-family: lato;
    font-size: 24px;
    color: white;
}

.btn-lg {
    font-family: Montserrat;
    /* color:#60B0F4; */
    background-color:#EF3E36;
    border-color: #EF3E36;
    font-weight: 400;
    border-radius:3px;
}


.btn-lg:hover {
    color: #EF3E36;
    background-color: white;
    border-color: white;
}