<div class="enclosure py-5">
  <h1 class="text-center">Totally Basic Registration Form</h1>
  <p class="text-center pb-1">
    Ez-Pz Lemon Squeezy! <del>BecauseSomeoneIsTooDarnLazyToMakeSomethingSubstantial</del>
  </p>
  <div class="container">
    <div class="row">
      <label class="col-2 pb-1">Username</label>
      <input class="col-10 form-control" name="username" placeholder="10 bucks says you'll come up with the edgiest name ever.">
    </div>
    <div class="row my-3">
      <label class="col-2 pb-1">Email</label>
      <input class="col-10 form-control" name="username" placeholder="We won't spam you or sell it to third-party advertisers. Promise!">
    </div>
    <div class="row mb-3">
      <label class="col-2 pb-1">Password</label>
      <input type="password" class="col-10 form-control" name="password" placeholder="Make a ridiculous password using this comic as inspiration: https://www.xkcd.com/936/">
    </div>
    <div class="row mb-4">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label">
          I did what all shady websites do and made the checkbox so astronomically small
        that you wouldn't think to check it off to opt out of some weirdness.</label>
      </div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-danger btn-lg">Make My Account!</button>
    </div>
    <div id="error_message"></div>
  </div>
</div>