<div class="enclosure py-5">
  <div class="container" *ngIf="event">
      <h1>Check Out this HotSpot:</h1>
      <img src={{event.image.medium.url}}/>
      <br>Title:
      <h4>{{event.title}}</h4>
      <br>Venue:
      <h4>{{event.venue_name}}</h4>
      <h5>{{event.description}}</h5>

              <h5 style="text-align:right">Directions To HotSpot</h5>
              

      <p style="width: 48%; float: right;">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-direction [origin]="origin" [destination]="destination">
          </agm-direction>
        </agm-map>
        </p>
  </div>
    
</div>
