<div class="enclosure py-5">
  <h1>Check Out this HotSpot:</h1>
  <div class="container-fluid" *ngIf="event">
    <div id="wrapper">
      <img id="event_image" src={{event.image.medium.url}}/>
    </div>  
    <div id="text-wrapper">
      <h4>Title: </h4>
      <h5>{{event.title}}</h5>
      <h4>Venue: </h4>
      <h5>{{event.venue_name}}</h5>
      <a href={{event.venue_url}}>Link to Venue </a>
      <h4 *ngIf="event.description">Description:</h4>
      <h6>{{event.description}}</h6>
      <a href={{event.url}}>Link to Event Website</a>
    </div>
    

              <h5 style="text-align:right">Directions To HotSpot</h5>
              

      <p style="width: 48%; float: right;">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-direction [origin]="origin" [destination]="destination">
          </agm-direction>
        </agm-map>
        </p>
  </div>
    
</div>
